<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hashmob.aichat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:appComponentFactory="androidx"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_key" />

        <service
            android:name=".firebase.FCMMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.intro.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".main.home.ui.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".main.home.tab.generateimage.GenerateImageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.home.tab.generateimage.generateimageresult.GenerateImageResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.home.premium.PremiumActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.home.tab.topic.ui.CategoriesChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.home.tab.topic.tab.composition.CompositionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.home.tab.topic.tab.composition.result.CompositionResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.home.tab.topic.tab.composition.chooselanguage.ChooseLanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.home.tab.chatbot.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.home.ui.drawer.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".main.home.tab.scanmathsolving.ScanMathSolvingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.home.tab.scanmathsolving.solution.SolutionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>